body {
  background: #333;
}

#gameContainer {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 1100px;
  height: 600px;
}

#levelMenu {
    float:left;
    width:100px;

    color:white;
}

ul {
  padding: 0;
}

.levelindicator {
    display:none;
    list-style:none;
}

.levelindicator .hotkey {
    display:none;
    font-weight: bold;
}

.levelindicator-overlay {
    background-color: rgb(36, 141, 141);
    border: 1px solid rgb(124, 167, 167);
    border-radius: 3px;
}

.levelindicator-current {
    background-color: green;
    border: 1px solid rgb(45, 255, 45);
    border-radius: 3px;
}
