body {
  background: #333;
}

canvas {

  background: url(assets/gradientSky.png);
}

#gameContainer {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 1100px;
  height: 600px;
}

#levelMenu {
    float:left;
    width:100px;

    color:white;
}

.levelindicator {
    display:none;
}
